
//    Author: Jonas Johansson
//    Email:  jan.jonas.johansson@gmail.com
//    Github: jjojo
//    Description:
//    Styling for profile-info view.
//    This should style specific things like how avatar image is shaped.

@import globals

.profile-info
  background-color: white
  // box-shadow: 5px 0px 5px -2px rgba(0, 0, 0, 0.1)
  float: left
  width: 20%
  height: 100%
  padding: 2.5% 1%
  box-sizing: border-box

  img
    margin-left: 10%
    box-sizing: border-box
    width: 80%
    border-radius: 100%
    padding: 5%

  .profile-text-info
    text-align: center

  .user-profile-name
    text-align: center
    font-weight: 200

  .user-description
    text-align: center
