/*
    Author: Jonas Johansson
    Email:  jan.jonas.johansson@gmail.com
    Github: jjojo
    Description:
    Styling for profile-info view. 
    This should style specific things like how avatar image is shaped.
*/

.profile-info
    background-color: #ddd
    float: left
    width: 25%
    
    img
        margin-left: 10%
        box-sizing: border-box
        width: 80%
        border-radius: 100%
        padding: 5%

    .profile-text-info
        text-align: center
