.profile-info
    background-color: #ddd
    float: left
    width: 25%
    
    img
        margin-left: 10%
        box-sizing: border-box
        width: 80%
        border-radius: 100%
        padding: 5%

    .profile-text-info
        text-align: center
