@import ../globals
.Login
	margin: 0 auto
	min-width: 300px
	max-width: 960px
	width: 30%
	h1
		text-align: center
	label
		display: inline-block
		font-size: 1em
		box-sizing: border-box
		margin-top: 0.5em
	input
		width: 100%
		height: 2em
		font-size: 1.5em
		border: 2px solid $color-contrast-light
		box-sizing: border-box
		color: $color-dark
		margin-bottom: 0.5em
	button
		width: 100%
		height: 2em
		background-color: $color-contrast-light
		color: $color-light
		border: none
		font-size: 2em
		margin: 1em auto
		box-sizing: border-box