/*
  Author: Jonas Johansson
  Email:  jan.jonas.johansson@gmail.com
  Github: jjojo
  Description:
  Styling for contact list.

@import globals

// rewrite to let feed have 100% and adjust width in parent component
.contacts-list
  width:            100%
  float:            left
  padding:          5%
  background-color: white
  border-radius:    $box-border-radius
  margin:           10% 0 0 0
  box-sizing:       border-box
  h2
    text-align:     center
    font-weight:    300

.contact
  box-sizing:       border-box
  width:            100%
