$color-light: rgba(255, 255, 255, 1);
$color-contrast-light: rgba(230, 225, 197, 1);
$color-contrast-medium: rgba(142, 155, 144, 1);
$color-contrast-dark: rgba(0, 5, 5, 1);
$color-dark: rgba(0, 5, 5, 1);
$color-green-light: rgba(12, 131, 70, 1);
$color-green-dark: rgba(25, 35, 26, 1);