@import globals
html
	margin: 0
	padding: 0
body
	margin: 0
	padding: 0
	background-color: $color-light
	color: $color-dark
	font-family: Montserrat

.up-button
	width: 1em
	height: 1em
	border-radius: 100%

	// background-color: $color-background
	background-color: rgba(424, 242, 242, .7)
