html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #000505;
  font-family: Montserrat; }

.up-button {
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: rgba(255, 242, 242, 0.7); }
